@font-face {
  font-family: 'proxima_nova_rgregular';
  src: url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.eot');
  src: url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.woff') format('woff'),
    url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.ttf') format('truetype'),
    url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.svg#proxima_nova_rgregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'proxima_nova_rgbold';
  src: url('https://litmus.com/fonts/Emails/proximanova-bold-webfont.eot');
  src: url('https://litmus.com/fonts/Emails/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('https://litmus.com/fonts/Emails/proximanova-bold-webfont.woff') format('woff'),
    url('https://litmus.com/fonts/Emails/proximanova-bold-webfont.ttf') format('truetype'),
    url('https://litmus.com/fonts/Emails/proximanova-bold-webfont.svg#proxima_nova_rgbold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'adelle_rgregular';
  src: url('https://litmus.com/fonts/Emails/adelle_reg-webfont.eot');
  src: url('https://litmus.com/fonts/Emails/adelle_reg-webfont.eot?#iefix') format('embedded-opentype'),
    url('https://litmus.com/fonts/Emails/adelle_reg-webfont.woff') format('woff'),
    url('https://litmus.com/fonts/Emails/adelle_reg-webfont.ttf') format('truetype'),
    url('https://litmus.com/fonts/Emails/adelle_reg-webfont.svg#adelle_rgregular') format('svg');
  font-weight: normal;
  font-style: normal;
}


/* Googlefont Poppins CDN Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
  margin-left: 4px;
  margin-right: 7px;
  padding: 0;
  box-sizing: border-box;
  font-family: 'proxima_nova_rgregular', Helvetica, Arial, sans-serif;
}

.home-section {
  position: relative;
  background: #f5f5f5;
  min-height: 100vh;
  width: calc(100% - 240px);
  left: 240px;
  transition: all 0.5s ease;
}

.home-section nav {
  display: flex;
  justify-content: space-between;
  height: 80px;
  background: #fff;
  display: flex;
  align-items: center;
  position: fixed;
  width: calc(100% - 240px);
  left: 240px;
  z-index: 100;
  padding: 0 20px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease;
}

.sidebar.active~.home-section nav {
  left: 60px;
  width: calc(100% - 60px);
}

.home-section nav .sidebar-button {
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: 500;
}

nav .sidebar-button i {
  font-size: 35px;
  margin-right: 10px;
}

.home-section nav .search-box {
  position: relative;
  height: 50px;
  max-width: 550px;
  width: 100%;
  margin: 0 20px;
}

nav .search-box input {
  height: 100%;
  width: 100%;
  outline: none;
  background: #F5F6FA;
  border: 2px solid #EFEEF1;
  border-radius: 6px;
  font-size: 18px;
  padding: 0 15px;
}

nav .search-box .bx-search {
  position: absolute;
  height: 40px;
  width: 40px;
  background: #2697FF;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 4px;
  line-height: 40px;
  text-align: center;
  color: #fff;
  font-size: 22px;
  transition: all 0.4 ease;
}

.home-section nav .profile-details {
  display: flex;
  align-items: center;
  background: #F5F6FA;
  border: 2px solid #EFEEF1;
  border-radius: 6px;
  height: 50px;
  min-width: 190px;
  padding: 0 15px 0 2px;
}

nav .profile-details img {
  height: 40px;
  width: 40px;
  border-radius: 6px;
  object-fit: cover;
}

nav .profile-details .admin_name {
  font-size: 15px;
  font-weight: 500;
  color: #333;
  margin: 0 10px;
  white-space: nowrap;
}

nav .profile-details i {
  font-size: 25px;
  color: #333;
}

.home-section .home-content {
  position: relative;
  padding-top: 22px;
}

.home-content .overview-boxes {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 10px;
  margin-bottom: 26px;
}

.overview-boxes .box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100% / 4 - 15px);
  background: #fff;
  padding: 15px 14px;
  border-radius: 12px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.overview-boxes .box-topic {

  font: normal normal medium 14px/30px Proxima Nova;
  letter-spacing: 0px;
  color: #808080;
}

.home-content .box .number {
  display: inline-block;
  font-size: 35px;
  margin-top: -6px;
  font-weight: 500;
}

.home-content .box .indicator {
  display: flex;
  align-items: center;
}

.home-content .box .indicator i {
  height: 20px;
  width: 20px;
  background: #8FDACB;
  line-height: 20px;
  text-align: center;
  border-radius: 50%;
  color: #fff;
  font-size: 20px;
  margin-right: 5px;
}

.box .indicator i.down {
  background: #e87d88;
}

.home-content .box .indicator .text {
  font-size: 12px;
}

.home-content .box .cart {
  display: inline-block;
  font-size: 32px;
  height: 50px;
  width: 50px;
  background: #cce5ff;
  line-height: 50px;
  text-align: center;
  color: #66b0ff;
  border-radius: 12px;
  margin: -15px 0 0 6px;
}

.home-content .box .cart.two {
  color: #2BD47D;
  background: #C0F2D8;
}

.home-content .box .cart.three {
  color: #ffc233;
  background: #ffe8b3;
}

.home-content .box .cart.four {
  color: #e05260;
  background: #f7d4d7;
}

.home-content .total-order {
  font-size: 20px;
  font-weight: 500;
}

.home-content .sales-boxes {
  display: flex;
  justify-content: space-between;
  /* padding: 0 20px; */
}

/* left box */
.home-content .sales-boxes .recent-sales {
  width: 65%;
  background: #fff;
  padding: 20px 30px;
  margin: 10px 20px;
  border-radius: 12px;
  box-shadow: 0 5px 10px rgba(252, 252, 252, 0.1);
}

.home-content .sales-boxes .sales-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 682px;
  left: 300px;
  width: 930px;
  height: 80px;
  /* UI Properties */
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 2px 6px #0000000F;
  border-radius: 12px;
  opacity: 1;
}

.sales-boxes .box .title {
  margin-left: 40%;
  margin-top: -5%;
}

.sales-boxes .sales-details li.topic {
  font-size: 20px;
  font-weight: 500;
}

.sales-boxes .sales-details li {
  list-style: none;
  margin: 8px 0;
}

.sales-boxes .sales-details li a {
  font-size: 18px;
  color: #333;
  font-size: 400;
  text-decoration: none;
}

.sales-boxes .box .button {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.sales-boxes .box .button a {
  color: #fff;
  background: #0A2558;
  padding: 4px 12px;
  font-size: 15px;
  font-weight: 400;
  border-radius: 4px;
  text-decoration: none;
  transition: all 0.3s ease;
}

.sales-boxes .box .button a:hover {
  background: #0d3073;
}


/* Right box */
.home-content .sales-boxes .top-sales {
  width: 33%;
  background: #fff;
  padding: 0px 20px;
  margin: 10px 20px 0 0;
  border-radius: 12px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.sales-boxes .top-sales li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
}

.sales-boxes .top-sales li a img {
  height: 40px;
  width: 40px;
  object-fit: cover;
  border-radius: 12px;
  margin-right: 10px;
  background: #333;
}

.sales-boxes .top-sales li a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.sales-boxes .top-sales li .product,
.price {
  font-size: 17px;
  font-weight: 400;
  color: #333;
}



#line {
  margin-bottom: 4px;
  margin-top: -14px;
}

#arturo {
  margin-left: 151px;
  margin-right: 113px;
  margin-top: 5px;
}


.vehicle {
  flex-basis: 100px;
  background-color: white;

  margin: 0%;
}

.trips {
  display: flex;
  background: transparent linear-gradient(90deg, #29BBB8 0%, #44E794 100%) 0% 0% no-repeat padding-box;
  border-radius: 12px;
  padding: 2px;
}

.time {

  background: #FFFFFF 0% 0% no-repeat padding-box;
  border-radius: 8px;
  top: 692px;
  left: 1069px;
  width: 100px;
  height: 88px;
  margin-top: -15px;

}

.content {


  text-align: left;
  font: normal normal bold 16px/17px Proxima Nova;
  letter-spacing: 0.8px;
  color: #FFFFFF;
}

.trips2 {
  display: flex;
  background: transparent linear-gradient(90deg, #4570ce 0%, #44b3e7 100%) 0% 0% no-repeat padding-box;
  border-radius: 12px;
  padding: 2px;
}

.trips3 {
  display: flex;
  background: transparent linear-gradient(90deg, #4570ce 0%, #44b3e7 100%) 0% 0% no-repeat padding-box;
  border-radius: 12px;
  padding: 2px;
}

#vehcil3img {
  display: flex;
  margin-left: 0px;
  width: 72px;
}

.info {
  flex-direction: row;

}

.inside2 {
  background: transparent url=('./assets/car.jpg') 0% 0% no-repeat padding-box;
}

.out {
  margin-top: 22px;
  margin-left: 864px;

  width: 667px;
  height: 503px;
  /* UI Properties */
  background: white 0% 0% no-repeat padding-box;
  box-shadow: 0px 2px 6px #0000000F;
  border-radius: 12px;
  opacity: 1;
}

.details {
  margin-left: 421px;
  margin-top: -156px;
  letter-spacing: 0.8px;
  color: #808080;
}
.details h3,b{
  color:black;
}
#safety{
  margin-left:448px;margin-top:-32px;
}
#graph{
  margin-left: 122px;
}
#vi{
  color: #118AB2;text-decoration-thickness: 5px;
}
#vih{
  padding-top: 21px;
  margin-left: 33px;
}
#car2x{
  margin-left: 52px;
}
#drop{
  margin-left: 202px;
}
#trp{
  padding-top: 21px;
        margin-left: 33px;
}
#trt{
  color: #118AB2;text-decoration-thickness: 6px;
}

.grid-container {
  display: grid;

  grid-template-columns: auto auto;
  margin-left: -10px;
  padding: 0px;
  border-radius: 12px;
  border: 1px solid rgba(185, 181, 181, 0.5);

}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 18px;
  text-align: center;
  border-right: 1px solid rgba(185, 181, 181, 0.5);
  height: 96px;
  width: 221px;
}

.grid-item p {
  font-size: small;
  color: #118AB2;
}

.grid-item b {
  font-size: large;
}


.navi {
  top: 100px;
  bottom: 20px;
  margin-top: 40px;
  font-size: large;


}

.row {

  margin-right: 100px;
  bottom: 10%;



}



input {
  width: 300px;
}

.name {
  color: #FFFFFF;
  font-style: normal;
  height: 33px;
  text-align: center;
}

#navigation {
  background: #2B2F48;
  transition: all .5s ease;
  position: fixed;
  z-index: 1;
  top: 0;
  width: 280px;
  height: 100vh;
  margin-left: -22px;

}

.logo_name {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  margin-left: 30px;

}


.logo-details {
  height: 80px;
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.logo-details img {
  margin-left: 11px;
}

.sidenav-nav {
  list-style: none;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  padding-left: 15px !important;

}

.select-list {
  flex-direction: row;
  list-style: none;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  padding-left: 15px !important;
  padding-right: 15px;

}


.active {
  width: 100%;
  padding-top: 5px;
  text-align: center;
  align-items: center;


}

.active a {
  display: flex;
  align-items: center;
  color: #939598;
  list-style: none;
  text-decoration: none;
  text-align: center;
  padding: 10px;



}

.active a i {
  color: #939598;
}

#admin {
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  letter-spacing: 1px;
  color: #C0E2F4;
  opacity: 1;
  margin: 5px 20px;
}

#admin p {
  font: normal normal normal 12px/14px Proxima Nova;
  color: white;
}

#admin b {
  font: normal normal medium 16px/20px Proxima Nova;
  color: white;
}

.lgimg {
  margin-left: 105px;
  margin-top: 43px;
}

.lg {
  color: aliceblue;
  margin-left: 136px;
  margin-top: -22px;
}

.active span {
  padding: 8px;
  font-size: 14px;


}

.sidenav-nav :hover {
  color: white;


}

.active a :hover {

  color: white;

}

.title img {
  margin-top: 25px;
}

.topnav {

  justify-content: space-between;
  margin-left: 152px;
  display: flex;
  padding: 0;
  padding-left: 10px;
  height: 50px;

}

.topnav-title {
  padding-top: 5px;
  font-size: 16px;
  font-style: bold;
  color: #939598;
  display: flex;
  align-items: center;
}

.topnav-title i {
  margin-right: 10px;
  font-size: 25px;

}

.topnav-searchbar {
  display: flex;
  text-align: center;
  align-items: center;
  padding-left: 350px;


}

#arrow {
  margin-left: 47px;
  padding-top: 22px;
}

#currentFleet {
  margin: -20px 85px
}


.search {
  border: 1px;
  background-color: #F2F5F7;
  width: 286px;
  height: 25px;
  display: flex;
  align-items: center;
  padding-top: 2px;
  padding-right: 5px;
  padding-left: 5px;
  border-radius: 2px;
}

.search input {
  height: 100%;
  background-color: #F2F5F7;
  border: 0px;
  outline: none;
  color: #939598;
}

#red-dot {

  position: absolute;
  padding-left: 345px;




}

#white-dot {
  padding-left: 50px;



}

.topnav-searchbar h2 {
  padding-left: 50px;
  padding-bottom: 15px;




}

.user-info {
  display: flex;
  padding-right: 2rem;
  text-align: left;
  align-items: center;

}

.user-info img {

  padding-left: 10px;
  padding-right: 10px;

  padding-top: 10px;
}

.selection {
  display: flex;
  justify-content: space-between;
}


.imgg {
  bottom: 20px;
  margin: 5px
}

.table1 {
  /* UI Properties */
  color: var(--unnamed-color-808080);
  text-align: left;
  font: normal normal medium 14px/17px Proxima Nova;
  letter-spacing: 0.7px;
  color: #808080;
  opacity: 1;

}

#r1 {
  /* Layout Properties */
  top: 796px;
  left: 300px;
  width: 715px;
  height: 50px;
  /* UI Properties */
  background: transparent linear-gradient(270deg, #29BBB8 0%, #44E794 100%) 0% 0% no-repeat padding-box;
  border-radius: 6px;
  opacity: 1;

}

.gf {
  /* Layout Properties */
  top: -600px;
  left: 313px;
  width: 150px;
  height: 32px;
  /* UI Properties */
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #C3C3C3;
  border-radius: 4px;
  opacity: 1;
  margin: 220px 2px 237px;

}

#sb {

  background: #FFFFFF;
  /* Layout Properties */
  top: 15px;
  left: 10px;
  width: 113px;
  height: 43px;
  /* UI Properties */

  font: normal normal normal 14px/22px Proxima Nova;
  letter-spacing: 0px;
  color: #999999;
  opacity: 0.8;
}

#pp {
  /* Layout Properties */
  top: 796px;
  left: 300px;
  width: 897px;
  height: 50px;
  /* UI Properties */
  background: transparent linear-gradient(270deg, #29BBB8 0%, #44E794 100%) 0% 0% no-repeat padding-box;
  border-radius: 6px;
  opacity: 1;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #DDD;

}

th {
  background-color: white;
  opacity: 0.8;
}

.hoverrr:hover {
  background: transparent linear-gradient(270deg, #29BBB8 0%, #44E794 100%) 0% 0% no-repeat padding-box;
  border-radius: 6px;
}

.dot {
  height: 6px;
  width: 6px;
  background-color: rgb(230, 18, 18);
  border-radius: 50%;
  display: inline-block;
}

.dot2 {
  height: 7px;
  width: 7px;
  background-color: rgb(50, 185, 16);
  border-radius: 50%;
  display: inline-block;
}

.dot3 {
  height: 6px;
  width: 6px;
  background-color: rgb(32, 121, 204);
  border-radius: 50%;
  display: inline-block;
}

.dot5 {
  height: 11px;
  width: 32px;
  background-color: white;
  border-radius: 12%;
  display: inline-block;
}

.dot6 {
  height: 11px;
  width: 42px;
  background-color: rgb(16, 68, 148);
  border-radius: 12px;
  display: inline-block;
}

.dot7 {
  height: 11px;
  width: 42px;
  background-color: white;
  border-radius: 12%;
  display: inline-block;
}

.dot8 {
  height: 11px;
  width: 82px;
  background-color: rgb(27, 184, 61);
  border-radius: 12px;
  display: inline-block;
}

.dot9 {
  height: 11px;
  width: 33px;
  background-color: white;
  border-radius: 12%;
  display: inline-block;
}

.dot10 {
  height: 11px;
  width: 24px;
  background-color: yellow;
  border-radius: 12px;
  display: inline-block;
}

.info span {
  height: 8px;
  margin-bottom: 3px;

}

.pagination {
  display: inline-block;
}

.center {
  text-align: center;
  margin: 117px 800px 222px;

}

.trip {

  background-color: white;
  /* Layout Properties */
  top: 491px;
  left: 300px;
  width: 796px;
  height: 500px;
  /* UI Properties */

  box-shadow: 0px 2px 6px #0000000F;
  border-radius: 12px;
  opacity: 1;
  margin: -522px 34px;

}

.calendar {
  width: 143px;
  height: 37px;
  /* UI Properties */
  background: #FFFFFF10 0% 0% no-repeat padding-box;
  border: 1px solid #8BBCD5;
  border-radius: 4px;
  opacity: 1;
  margin-top: -26px;
  margin-left: 498px;
}

.calendar h3 {
  margin: -11px 58px;
  width: 76px;
  height: 30px;
  color: var(--unnamed-color-808080);
  text-align: left;
  font: normal normal normal 30px/17px Proxima Nova;
  letter-spacing: 1.5px;
  color: #808080;
  opacity: 1;
}

.icn {
  margin-top: -33px;
  margin-left: 348px;
}

.tr {
  /* Layout Properties */
  margin-top: 33px;
  margin-left: 33px;
  width: 108px;
  height: 97px;
  /* UI Properties */

  border-radius: 8px;
  opacity: 1;
  background: transparent linear-gradient(90deg, #29BBB8 0%, #44E794 100%) 0% 0% no-repeat padding-box;
}

.flexy {
  display: flex;
  margin: -3px 85px -54px;
}

.fulltrip {
  display: flex;
  width: 362px;
  height: 100px;
  /* UI Properties */
  background: transparent linear-gradient(90deg, #7F7FFD 0%, #6FA5FE 100%) 0% 0% no-repeat padding-box;
  border-radius: 12px;
  opacity: 1;
  margin: -85px 267px -13px
}